/* General styles for the body */
body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 20px;
	background-color: transparent;
}

/* Styling for h2 elements */
h2.c {
	font-size: 3.5em;
	margin-bottom: 5px;
	color: #86888A;
	text-align: center;
}

/* Styling for span elements with class 'it' (italic) */
span.it {
	font-style: italic;
}

/* (All The Verses Text) Styling for paragraph elements with class 'p' */
p.p {
	margin-bottom: 25px;
	padding-left: 40px;
	padding-right: 40px;
	
	text-indent: 28px;
	text-align: left;
	line-height: 2.2;
	
	color: #D9D9D9;
	font-weight: 500;
	font-size: 2.5em;
}

/* Styling for p.q elements */
p.q {
	margin-bottom: 15px;
	padding-left: 40px;
	padding-right: 40px;
	
	line-height: 1.2;
	text-align: justify;
	font-size: 2.5em;
	color: #D9D9D9;
}

/* Styling for p.m elements */
p.m {
	margin-bottom: 15px;
	padding-left: 40px;
	padding-right: 40px;
	
	line-height: 2;
	text-align: justify;
	font-size: 2.5em;
	color: #D9D9D9;
}

/* (Verse Numbers) Styling for span elements with class 'v' */
span.v {
	font-weight: bold;
	font-size: 0.5em;
	color: #86888A;
	
	position: relative;
	top: -0.5em;
	margin-right: 0.5em;
}

/* (Section Headings) Styling for paragraph elements with class 's' */
p.s {
	margin-bottom: 60px;
	
	text-align: center;

	font-size: 3.5em;
	font-weight: 900;
	color: #D9D9D9;
}


/* (words of Jesus) Styling for span elements with class 'wj' */
span.wj {
	color: #E84855;
	font-weight: bold;
	font-style: italic;
	padding: 2px 4px;
	border-radius: 3px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* (small caps) Styling for span elements with class 'sc' */
span.sc {
	font-variant: small-caps;
	font-weight: bold;

}



